* {

  margin: 0;
  padding: 0;
}

.row1 {
   max-width: 1140px;
   margin:0 auto;
   float: right;
   padding-right: 30px;
}
.row2{
  border-color: black;
}

body {

  font-family: tahoma;
}

.intro{

  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.intro img {
   padding-left: 410px;
}

header {
   background-image: url("img/backgrounds/landing.jpg");
   height: 100vh;
   background-position: center;
   background-size: cover;
}

.intro p {
  color: white;
  text-align: center;
  font-size: 250%;
}


.main-nav {
  list-style: none;
  margin-top: 50px;

}
.main-nav li {
   display: inline-block;
   margin-left: 20px;

}

.main-nav li a {
  color: white;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
}

.main-nav li a:hover {
  color: #1BF328;
  border-bottom: 2px solid #1BF328;
  transition: all 0.5s ease-in;
  padding: 10px 0;
}


.Topmenu {
  background-color: white;
  height: 120vh;
  background-size: contain;
  margin-bottom: -100px;
}

.Topmenu img {
  padding-top: 60px;
  padding: 0px;
}

#foodsection {
  vertical-align: middle;
}
#foodp{
  vertical-align: middle;
}
#foodp h1{
  float: right;
}
#foodp h4{
  float: right;
  padding-left: 200px;
}
#foodp p{
  float: right;
  padding-left: 600px;
}
#drinksection{
  vertical-align: middle;
}

.Foodmenu {
  background-image: url("img/backgrounds/foodsBg.jpg");
  height: 70vh;
  background-size: contain;
  margin-bottom: -100px;


}
.Foodmenu img {
  padding-left: 220px;
  padding-top: 170px;

}
.Customers {
  background-color: white;
  height: 65vh;
  background-size: contain;
  margin-bottom: -100px;


}

.Customers table {
  padding-left: 400px;


}

.Subscribe {
  background-image: url("img/backgrounds/subscribe.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -100px;

}

.Subscribe p {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;


}
.btn {
  border: 1px;
  padding-left: 110px;
  text-decoration: none;

}

.btn-half {
  border: solid #B5ADAD;
  background-color: #BDB5B5;
  text-decoration: none;

}

.btn-half  {
  color: white;
  text-decoration: none;

}

.btn-full{
  border: solid #F15A29;
  background-color:#F15A29 ;

}

.Email {
  background-color: #DCDEEC
}

.Member {
  background-color: #F15A29;

}
.buttons {
  padding-left: 620px;
  font-size: 40px;

}

footer {
   background-color: #F15A29;
   height: 40vh;
   background-position: center;
   background-size: cover;
}
footer h3{
  padding-left: 20px;
  padding-right: 840px;
  padding-top: 80px;
  float: right;
  color: white;
}
footer img {
  float: left;
  padding-left: 840px;
  padding-top: 70px;

}
footer p {
  float: left;
  padding-left: 840px;
  padding-top: 20px;
  font-size: 19px;
  color: white;
}

#Mealhours1 img {
  float: right;
  padding-right: 40px;
}

#Mealhours2 img {
  float: right;

}
#Mealhours3 img {
  float: right;
  padding-left: 1px;
}

.tables {
  padding-left: 41px;
}

.tables button {
  width: 338px;
  height: 105px;
}

#Party-Time {
  background-color: #F15A29;
}
#open-menu, #close-menu{
  position: absolute;
  font-size: 300%;

}

#open-menu{
  left: 2%;
}
#close-menu{
  left: 80%;
  color: white;
}
 /* styling the menu */

 aside{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   z-index: 100;
   background-color: #A79793;
   position: absolute;
   left: -100%;

 }


 #the-menu {
   list-style: none;
 }
 #the-menu li{
   padding: 15%;
   font-size: 200%;
   text-transform: uppercase;


 }
 #the-menu a{
   color: white;
 }

