* {

  margin: 0;
  padding: 0;
}

.row1 {
   max-width: 1140px;
   margin:0 auto;
   float: right;
   padding-right: 30px;
}
.row2{
  border-color: black;
}

body {

  font-family: tahoma;
}

.intro{

  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.intro img {
   padding-left: 410px;
}
}

header {
   background-image: url("img/backgrounds/landing.jpg");
   height: 100vh;
   background-position: center;
   background-size: cover;
}
